{% extends 'layout.html.twig' %}

{% block title %}
    {% if app.user %}
    Accueil
    {% else %}
    Authentification
    {% endif %}
{% endblock %}

{% block content %}
{% if not app.user %}
<!--<h2 class="text-center"><b>Bienvenue sur l'application MADERA</b> <br><br>-->
{#
    Cliquez sur une section pour y accéder</h2>
#}
<h2 class="text-center"><b>Bonjour <br><br> Veuillez vous identifier</h2>
{% elseif error %}
<div class="alert alert-danger">
    <!--<strong>Connexion échouée</strong> {{ error }}-->
    <strong>Connexion échouée</strong> Identifiant ou mot de passe incorrect.
</div>
 {% else %}
<!-- <h2 class="text-center"><b>Bonjour <br><br> Veuillez vous identifier</h2>-->
{% endif %}

{% if app.user %}
<div class="well">
    <h2 class="text-center"><b>Bienvenue sur l'application MADERA</b>
</div>
{% else %}
<div class="well">
    <form class="form-signin form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <input type="password" name="_password" class="form-control" placeholder="Mot de passe" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
